

<title>Uh, what?</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<style type="text/css">
@font-face {
   font-family: dt-font;
   src: url('css/fonts/dtm-sans-webfont.woff2') format('woff2'),
         url('css/fonts/dtm-sans-webfont.woff') format('woff');
}

body {
   font-family: dt-font;
</style>
<style>
@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: black;
    color: white;
  }
}
   </style>


<script data-content="https://kayos156.github.io/web_cursor.png" data-x="6" data-y="6" src="http://profilki.pl/scr/cursor.js"></script>
<style type="text/css">body, a, a:hover {cursor: url(https://github.com/kayos156/kayos156.github.io/raw/master/web_cursor.png) 6 6, default;}</style>
<p></p>
<p></p>
<p></p>
<p style="text-align: center;"><span style="font-size: xxx-large;"><span style="text-align: center;">404</span></span></p>
<p style="text-align: center;"><span style="font-size: x-large;">The page you are trying to see doesn't exist.</span></p>
<p style="text-align: center;">Maybe try going to the <a onclick="window.location.href = 'https://kayos156.github.io';"><span style="color: #FFFF00;">home page</span></a>?</p>



</body>
